@import url("https://use.typekit.net/mzm8rqr.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #f9f771;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Voguing", sans-serif;
  color: #845ec2;
  letter-spacing: 0px;
  text-transform: capitalize;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
p::-moz-selection,
span::-moz-selection {
  background: #ffd753;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
span::selection {
  background: #ffd753;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  line-height: 2.4rem;
  color: #504d57;
}

h3 {
  font-size: 30px;
  line-height: 2.4rem;
}

p {
  font-size: 16px;
  color: #504d57;
  line-height: 30px;
}

@media screen and (max-width: 426px) {
  p {
    line-height: 28px;
  }
}

span {
  font-size: 30px;
}

.wrap {
  text-align: center;
}

input[type=text] {
  width: 80%;
  max-width: 280px;
  padding: 10px 10px;
  border: none;
  background-color: #f9f771;
  border-bottom: 4px solid #845ec2;
  font-size: 18px;
  font-family: "Voguing", sans-serif;
  color: #504d57;
}

input[type=text]:focus {
  outline: none;
  background-color: #f9f771;
}

input[type=text]:active {
  background-color: #f9f771;
}

input[type=text], input[type=text] textarea {
  background-color: #f9f771;
}

input[type=text]:-webkit-autofill {
  -webkit-text-fill-color: #504d57;
  background-color: transparent;
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

input[type=text]::-moz-selection {
  background: #ffd753;
}

input[type=text]::selection {
  background: #ffd753;
}

button {
  font-family: "Voguing", sans-serif;
  font-size: 16px;
  background: #fd5076;
  padding: 0.6rem 2.5rem;
  color: #ffffff;
  border: 1px solid #fd5076;
  margin: 0rem 1rem 0rem 1rem;
  border-radius: 12px;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #fd5076;
  border: 1px solid #ff768d;
}

button:focus {
  font: "Voguing", sans-serif;
  outline: none;
}

button::-moz-selection {
  background: #ffd753;
}

button::selection {
  background: #ffd753;
}

.title {
  margin: 2rem 1rem 2.5rem 1rem;
}

@media screen and (max-width: 426px) {
  .title {
    margin: 1.5rem 1rem 0rem 1rem;
  }
  .title h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

.search-section {
  margin: 4rem 1rem 4rem 1rem;
}

@media screen and (max-width: 426px) {
  .search-section {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.search-input {
  margin: 0rem 1rem 0rem 1rem;
}

@media screen and (max-width: 426px) {
  .search-input {
    margin: 0rem 1rem 0.8rem 1rem;
  }
}

.search-btn {
  margin: 0rem 1rem 0rem 1rem;
}

@media screen and (max-width: 426px) {
  .search-btn {
    margin: 0.8rem 1rem 0.8rem 1rem;
  }
}

.weather-section {
  margin: 4rem 1rem 4rem 1rem;
}

@media screen and (max-width: 426px) {
  .weather-section {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.weather-img {
  margin: 1.5rem;
  width: 75px;
}

@media screen and (max-width: 426px) {
  .weather-img {
    margin: 0.5rem;
    width: 65px;
  }
}

.weather-img::-moz-selection {
  background: #ffd753;
}

.weather-img::selection {
  background: #ffd753;
}

.weather-temp {
  padding: 0rem 1rem 1rem 1rem;
}

@media screen and (max-width: 426px) {
  .weather-temp {
    padding: 0rem 1rem 1rem 1rem;
  }
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.modal-wrapper p {
  padding: 1.5rem 0rem 2.5rem 0rem;
}

.modal-wrapper button {
  margin: 0rem 0rem 0rem 0rem;
}

.modal-content {
  margin: 1rem;
  padding: 1rem;
  max-width: 50%;
  border-radius: 12px;
  background: white;
  text-align: center;
}

@media screen and (max-width: 426px) {
  .modal-content {
    min-width: 250px;
  }
}
/*# sourceMappingURL=App.css.map */